dist: trusty
sudo: false
language: python
python:
    - "2.7"
    - "3.4"
    - "3.5"
    - "3.6"
env:
    - TESTS=py
    - TESTS=lint
    - TESTS=smoke_test
install: pip install tox
script:
    tox -e $TESTS
matrix:
    include:
        - python: 3.5
          env:
              - TESTS=integration
          install:
              pip install azure-cli
          script:
              exit 1
